*{
    font-family: "Open Sans", sans-serif;
}

.intro{
    display: flex;
    background-image: url(../assets/Hero-bg.png) ;
    height: 652px;
}

.intro-files{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 200px;
    padding: 0 150px;
    /* border: 5px solid red; */
}

.intro-h1{
    font-weight: 800;
    font-size: 45px;
    font-family:  "Open Sans", sans-serif;
    text-align: center;
}

.intro-para{
    color: #0D1321;
    font-size: 18px;
    margin-bottom: 40px;
    text-align: center;
}

.intro-btn{
    background-color: black;
    color: #FFFFFF ;
    font-size: 20px;
    padding: 10px 25px;
    border-radius: 10px;
}



.learn{
    margin: 100px 0; 
    background-color: whitesmoke ;
    padding: 50px 200px;
}

.learn-rea{
    text-align: center;
    margin-bottom: 50px;
}

.learn-sec{
    display: flex;
    justify-content: space-between;
    background-color:floralwhite ;
    padding: 20px 40px 10px 40px ;
    margin-bottom: 20px;
    border-radius: 10px;
}


.learn-img{
    margin-left: 150px;
}

.learn-sec button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    background-color: white;
}

.insparation {
    text-align: center;
}

.ytube{
    margin-top: 50px;
}

.now-tar {
    margin: 50px;
}

.now-tar-des{
    text-align: center;
    padding: 30px 150px 30px 150px ;
}

.now-tar-items{
    display: flex;
    justify-content: space-around;
    gap: 15px;
    /* padding: 10px; */
}

.tar-learn{
    padding: 40px;
    border-radius: 10px;
}

.html{
    background-color: red;
}
.css{
    background-color: green;
}
.js{
    background-color: yellow;
}

.nxt-tar{
    border: 50px 0;
    text-align: center;
}

.nxt-items{
    margin: 50px;
}

.nxt-item {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border: 2px solid blanchedalmond;
    margin: 20px;
    padding: 20px 30px ;
    border-radius: 10px;
}

.nxt-item img {
    margin-right: 30px;
}

.last{
    margin: 70px;
    border-radius: 10px;
    background-image: url(../assets/handshake.jpg);
    text-align: center;
    padding: 50px;
}

.last h1{
    color: azure;
    font-weight: bolder;
    font-size: 30px;
}

.last p {
    color: aliceblue;
    padding: 0 200px;
}

.submits {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .submits text-area{

} */

.submits input {
    height: 25px;
    width: 40%;
    border-radius: 5px;
    padding: 15px;
    font-size: 20px;
    margin-right: 10px;
}


 
.submits button {
    padding: 25px;
    width: 150px;
     height: 60px;
     border-radius: 5px;
     font-size: 20px;
         /* width: 24rem; w-48 (48 * 0.25rem = 12rem) */
            background-color: #2563eb; /* bg-blue-600 */
            color: #ffffff; /* text-white */
            font-weight: 600; /* font-semibold */
            display: flex; /* flex */
            align-items: center; /* items-center */
            justify-content: center; justify-center
}